{% block alert_summary %}
<table class="table table-bordered table-condensed">
    {% if alert.archived %}
    <tr>
        <td colspan="2" class="col-md-12"><b><font color=red>This alert has been archived.  Most analysis and files have been deleted.</font></b></td>
    </tr>
    {% endif %}
    {% if alert.company %}
    <tr>
        <td class="col-md-2">Company</td>
        <td class="col-md-10"><img src="{{url_for('static', filename='images/company_icons/{}.png'.format(alert.company.name))}}"> {{alert.company.name | capitalize}} ({{alert.company_id}})</td>
    </tr>
    {% endif %}
    <tr>
        <td class="col-md-2">Alert Time</td>
        <td class="col-md-10">{{alert.display_insert_date}} ({{alert.insert_date}} UTC)</td>
    </tr>
    <tr>
        <td class="col-md-2">Event Time</td>
        <td class="col-md-10">{{alert.display_event_time}} ({{alert.event_time}} UTC)</td>
    </tr>
    <tr>
        <td class="col-md-2">Source</td>
        <td class="col-md-10">{{alert.tool}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Instance</td>
        <td class="col-md-10">{{alert.tool_instance}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Alert Type</td>
        <td class="col-md-10">{{alert.alert_type}}</td>
    </tr>
    {% if alert.name %}
    <tr>
        <td class="col-md-2">Alert Documentation</td>
        {% if alert.alert_type == 'carbonblack - watchlist' %}
            <td class="col-md-10"><a target="_blank" href="{{ace_config['mediawiki']['uri']}}{{ace_config['mediawiki']['alert_suffix']}}{{alert.description | replace('Carbonblack Watchlist Alert - ', '')}}">{{alert.name}}</a></td>
        {% else %}
            <td class="col-md-10"><a target="_blank" href="{{ace_config['mediawiki']['uri']}}{{ace_config['mediawiki']['alert_suffix']}}{{alert.name | replace(' ', '_')}}">{{alert.name}}</a></td>
        {% endif %}
    </tr>
    {% endif %}
    <tr>
        <td class="col-md-2">Storage</td>
        <td class="col-md-10">{{alert.storage_dir}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Priority</td>
        <td class="col-md-10">{{alert.priority}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Status</td>
        <td class="col-md-10">{{alert.status}}</td>
    </tr>
    {% if alert.disposition %}
    <tr>
        <td class="col-md-2">Disposition</td>
	<td class="col-md-10"><b>{{alert.disposition}}</b> by {{alert.disposition_user.gui_display}} @ {{alert.display_disposition_time}} ({{alert.disposition_time}} UTC)</td>
    </tr>
    {% endif %}
    <tr>
        <td class="col-md-2">Queue</td>
        <td class="col-md-10">{{alert.queue}}</td>
    </tr>
    {% if alert.owner %}
    <tr>
        <td class="col-md-2">Owner</td>
        <td class="col-md-10">{{alert.owner.gui_display}} @ {{alert.owner_time}}</td>
    </tr>
    {% endif %}
    {% if alert.remover %}
    <tr>
        <td class="col-md-2">Removal</td>
        <td class="col-md-10">{{alert.remover.gui_display}} @ {{alert.removal_time}}</td>
    </tr>
    {% endif %}

    {% for comment in alert.comments %}
    <tr>
        <td class="col-md-2">Comment</td>
        <td class="col-md-10">{% if comment.user.id == current_user.id %}<span class="glyphicon glyphicon-remove" onmousedown="delete_comment({{comment.comment_id}})"></span> {% endif %} {{comment.insert_date}} {{comment.user.gui_display}}<br>{{comment.comment}}</td>
    </tr>
    {% endfor %}

    {% for detection in alert.all_detection_points %}
    <tr>
        <td class="col-md-2">Detection</td>
        <td class="col-md-10">{{detection.description}}</td>
    </tr>
    {% endfor %}

    {% if alert.instructions %}
    <tr>
        <td class="col-md-2">Instructions</td>
        <td class="col-md-10">{{alert.instructions}}</td>
    </tr>
    {% endif %}
    
    {#
    <tr>
        <td class="col-md-2">Detections</td>
        <td class="col-md-10">{{alert.all_detection_points | length}} detections</td>
    </tr>
    #}

</table>
{% endblock %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Alert Details <a role="button" data-toggle="collapse" data-target="#collapse_alert_details" aria-expanded="true" aria-controls="collapse_alert_details">(hide/show)</a></h3>
    </div>
    {%if ace_config['gui'].getboolean('alert_details_collapsed') %}
        <div class="panel-body collapse" id="collapse_alert_details">
    {% else %}
        <div class="panel-body" id="collapse_alert_details">
    {% endif %}
        <!-- by default we just pretty-print the json -->
        {% block alert_details %} <pre>{{ analysis.details | pprint }}</pre> {% endblock %}
    </div>
</div>

{% macro recurse_tree(tree_node) %}
    {% if tree_node.obj.observables | count > 0 and not ( prune_display_tree and not tree_node.visible ) %}
        <ul>
        {% for observable_node in tree_node.children %}
            {% if not prune_display_tree or observable_node.visible %}
                {# this is used by the various display templates #}
                {% set _observable = observable_node.obj %}
                <li><b>{{observable_node.obj.type}}</b> : 
                {% for dp in observable_node.obj.detections %}
                    {# TODO escape JS strings #}
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="{{dp.display_description | e}}">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    </button>
                {% endfor %}
                {% include observable_node.obj.jinja_template_path %}
                {% if observable_node.obj.has_directive('preview') %}
                <div class="panel panel-default">
                    <div class="panel-body observable-preview">{{observable_node.obj.display_preview}}</div>
                </div>
                {% endif %}

                {% for tag in observable_node.obj.tags %}{% if tag.level != 'hidden' %}<span class="label {{tag.css_class}}">{{ tag }}</span>{% if tag.name.lower().startswith('atos') %} 🤡 {% endif %}{% endif %}{% endfor %}
                {% if observable_node.obj.disposition_history %}
                    {% for disposition, count, percentage in observable_node.obj.disposition_history %}
                        {% if count != 1 or disposition != alert.disposition %}
                            <span onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown="set_filters({'Observable':[['{{observable_node.obj.type}}',decodeURIComponent(atob('{{observable_node.obj.value | b64escape}}'))]],'Disposition':['{{disposition}}']})" class="label label-{{disposition_css_mapping[disposition]}}">{% if disposition == None %}Open{% else %}{{disposition}}{% endif %} {{percentage | int}}% ({{count}})</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {# XXX hack to refactor out #}
                {% for tag in observable_node.obj.mapped_tags %}<span class="label {{tag.css_class}}">{{ tag }}</span>{% endfor %}</li>
                {% if observable_node.reference_node is not none %} 
                    <ul><li><a href="#{{observable_node.reference_node.uuid}}">Jump To Analysis</a></li></ul>
                {% else %}
                    <a name="{{observable_node.uuid}}"></a>
                    {% for observable_analysis_node in observable_node.children %}
                        {% if observable_analysis_node.obj.jinja_should_render %}
                            <ul>
                            {% if observable_analysis_node.obj.summary is not none %}
                                <li>
                                {% for dp in observable_analysis_node.obj.detections %}
                                    {# TODO escape JS strings #}
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="{{dp.display_description | e}}">
                                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                                    </button>
                                {% endfor %}
                                {# if an alert has been archived then we do not create links because the analysis has been deleted #}
                                {% if observable_analysis_node.obj.jinja_is_drillable and not alert.archived %}
                                    <a href="{{ url_for('analysis.index', alert_uuid=alert.uuid, observable_uuid=observable_node.obj.id, module_path=observable_analysis_node.obj.module_path) }}" title="{{observable_analysis_node.obj.question}}">
                                        {{observable_analysis_node.obj.jinja_display_name}}
                                    </a>
                                {% else %}
                                        {{observable_analysis_node.obj.jinja_display_name}}
                                {% endif %}
                            {% else %}
                                {# if no summary is available then we just display the str rep of the analysis #}
                                <li>{{observable_analysis_node.obj}}
                            {% endif %}
                            {% for tag in observable_analysis_node.obj.tags %}
                                <span class="label {{tag.css_class}}">{{ tag }}</span>
                            {% endfor %}
                                </li>
                            {# then recurse into this tree node #}
                            {{ recurse_tree(observable_analysis_node) }}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% if alert.remediation_targets | length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Remediation Targets <a role="button" data-toggle="collapse" data-target="#collapse_remediation_targets" aria-expanded="true" aria-controls="collapse_remediation_targets">(hide/show)</a></h3>
    </div>
    <div class="panel-body collapse" id="collapse_remediation_targets">
        <table class="table table-condensed">
        <tr>
            <th></th>
            <th width="100">Type</th>
            <th>Target</th>
            <th width="115">Status</th>
        </tr>
        {% for target in alert.remediation_targets %}
        <tr class="{{target.css_class}}">
            <td>
                <button onclick="toggle('target_history_{{target.id}}'); toggle_chevron('target_history_button_{{target.id}}')" type="button" class="btn btn-default btn-xs"><span id="target_history_button_{{target.id}}" class="glyphicon glyphicon-chevron-down"></span></button>
            </td>
            <td>{{target.type}}</td>
            <td>{{target.value}}</td>
            <td>{{target.state}}</td>
        </tr>
        <tr id='target_history_{{target.id}}' style="display:none;">
            <td colspan="4">
                {% if target.history | length == 0 %}
                    No remedation actions have been taken for this target.
                {% else %}
                    <table class="table table-condensed">
                        <tr>
                            <th width="150">Date</th>
                            <th width="150">User</th>
                            <th width="100">Action</th>
                            <th width="150">Status</th>
                            <th>Details</th>
                        </tr>
                        {% for event in target.history %}
                        <tr>
                            <td>{{event.insert_date}}</td>
                            <td>{{event.user.gui_display}}</td>
                            <td>{{event.action}}</td>
                            <td>{{event.status}}</td>
                            <td>
                                <table class="table table-condensed">
                                    {% for k, v in event.results.items() %}
                                    <tr>
                                        <td width="130">{{k[11:]}}</td>
                                        <td width="100">{{v['status']}}</td>
                                        <td>{{v['message']}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if domain_summary_str %}
<div class="panel panel-default">
    <div class="panel-heading">URL Domain Summary <a role="button" data-toggle="collapse" data-target="#collapseDomainSummary" aria-expanded="false" aria-controls="collapseHeaders">(hide/show)</a></div>
    <div class="panel-body collapse" id="collapseDomainSummary">
	<pre>{{domain_summary_str}}</pre>
    </div>
</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        {% if prune_display_tree %}
            Critical Analysis Overview <a href="#" title="This is a subset of the available analysis.">*</a>
        {% else %}
            Analysis Overview
        {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        {{ recurse_tree(display_tree) }}
    </div>
</div>
