
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Carbon Black Cloud Indicator Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <tr>
            <td>Type</td>
            <td>{{analysis.details['match_type']}}</td>
        </tr>
        {% if analysis.details['field'] %}
            <tr>
                <td>Field</td>
                <td>{{analysis.details['field']}}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Value</td>
            <td>{{analysis.ioc_value}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{analysis.get_current_status()}}</td>
        </tr>
        {% if analysis.details['link'] %}
          <tr>
            <td>Reference</td>
            <td><a target="_blank" href="{{analysis.details['link']}}">{{analysis.details['link']}}</a></td>
          </tr>
        {% endif %}
        <tr>
            <td>IOC Link</td>
            <td><a target="_blank" href="{{analysis.cbc_link_to_ioc}}">{{analysis.cbc_link_to_ioc}}</a></td>
        </tr>
      </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Raw Details <a role="button" data-toggle="collapse" data-target="#collapse_raw_upn_details" aria-expanded="true" aria-controls="collapse_raw_upn_details">(hide/show)</a></h3>
    </div>
    <div class="well raw-log panel-body collapse" id="collapse_raw_upn_details" style="word-break:break-all; -webkit-text-size-adjust: 110%">
        <pre>{{ analysis.details | pprint}}</pre>
    </div>
</div>
