{% set unique_reference = generate_unique_reference() %}
{% block observable_display %}
<span class="observable_display {{_observable.type}}" id="o_filter_{{unique_reference}}" title="">
{% block observable_display_value %}{{ _observable.display_value }}{% endblock %}
{% if _observable.display_time %} @ {{ _observable.display_time }} {% endif %}</span>
<script type="text/javascript">
    $('#o_filter_{{unique_reference}}').on('click', function() {
        set_filters({'Observable':[['{{_observable.type}}',atob('{{_observable.value | s64encode}}')]]});
    });
</script>
{% endblock %}

<button class="btn btn-default btn-xs" type="button" id="copy_action_{{unique_reference}}" title="Copy to Clipboard"><span class="glyphicon glyphicon-copy"></span></button>
<script type="text/javascript">
    $('#copy_action_{{unique_reference}}').on('click', function() {
        // avoid escaping issues going from python to javascript by using base64
        var observable_value = atob('{{_observable.value | s64encode}}');
        // see app/static/js/ace.js
        copy_to_clipboard(observable_value);
        // let the user know it was copied by flashing it a bit
        $('#copy_action_{{unique_reference}}').effect("pulsate", { times:3 }, 500);
    });
</script>

{% if _observable.jinja_available_actions %}

<span class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="action_{{unique_reference}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="action_{{unique_reference}}">
        {% for action in _observable.jinja_available_actions if action.display %}
        {# TODO go through existing observable actions and override action.display if configurable #}
            {% if action.name is none %}
                <li role="separator" class="divider"></li>
            {% else %}
	        {% if 'file_upload_vx' in action.name and not ace_config['gui'].getboolean('upload_vxstream') %}
		    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_view_vx' in action.name and not ace_config['gui'].getboolean('view_in_vx') %}
		    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_upload_vt' in action.name and not ace_config['gui'].getboolean('upload_vt') %}
                    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% else %}
                    <li><a style="cursor: pointer" id="action_{{action.name}}_{{unique_reference}}"><span class="glyphicon glyphicon-{{action.icon}}"></span>  {{action.description}}</a></li>
		{% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</span>

{% for action in _observable.jinja_available_actions %}
    {% if action.jinja_action_path %}
        {% include action.jinja_action_path %}
    {% endif %}
{% endfor %}

{% endif %}

{# add any additional functionality for the observable to this block #}
{% block observable_display_misc %}
{% endblock %}
