{% extends "analysis/default_observable.html" %}
{% block observable_display_value %}{{ _observable.message_id }} delivered to {{ _observable.email_address }}{% endblock %}
{% block observable_display_misc %}
    {% if _observable.remeditation_success %}
        {% if _observable.remediation_status == 'remove' %}
            <span class="label label-special">remediated</span>
        {% elif _observable.remediation_status == 'restore' %}`
            <span class="label label-special">restored</span>
        {% endif %}
    {% else %}
        <span class="label label-danger">remediation failed</span>
    {% endif %}
{% endblock %}