<ul>
    {% for type_ in types %}
    <li>{{type_}}</li>
    <ul>
        {% for o in data[type_] %}
            <li><span style="cursor:pointer" onmouseover="this.style.textDecoration='underline';"
                      onmouseleave="this.style.textDecoration='';"
                      onmousedown="add_filter('Observable', [['{{type_}}', decodeURIComponent(atob('{{o.value.decode(errors='ignore') | b64escape}}'))]])">{{ o.value.decode(errors='ignore') }} ({{ o.count }})</a>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
