{% extends "base.html" %}
{% block control_panel %}
<div class="container-fluid">
    <!-- control panel -->
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#disposition_modal" {%if not ace_config['gui'].getboolean('dispositioning') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-thumbs-up"></span> Set Disposition</button>
            <button id="btn-add-comment" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#comment_modal" uuid=""><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
            <button id="btn-take-ownership" type="button" class="btn btn-default btn-sm" {%if not ace_config['gui'].getboolean('ownership') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-lock"></span> Take Ownership</button>
            <button id="btn-assign-ownership-dialog" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assign_ownership_modal" {%if not ace_config['gui'].getboolean('ownership') %}tabindex="-1" disabled{% endif %} ><span class="glyphicon glyphicon-user"></span> Assign Ownership</button>
            <button id="btn-show-add-tag" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#tag_modal" uuid=""><span class="glyphicon glyphicon-tags"></span> Add Tag(s)</button>
            <!--<button id="btn-remediate-alerts" type="button" class="btn btn-default btn-sm" {%if not ace_config['gui'].getboolean('email_remediation') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-envelope"></span> Email Remediation</button>-->
            <button id="btn-mass-remediation" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Remediation</button>
            <!--<button id="btn-unremediate-alerts" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok"></span> Un-Remediate Email(s)</button>-->
            <button id="btn-add-to-event" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#event_modal" {%if not ace_config['gui'].getboolean('event_management') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-plus-sign"></span> Add To Event</button>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:5px;margin-bottom:7px;">
    <div class="row">
        <div class="col-md-12">
            Filters | 
            <span class="label label-special" style="cursor:pointer" data-toggle="modal" data-target="#filter_modal">Add</span>
            <span class="label label-special" style="cursor:pointer" onmousedown='reset_filters()'>Reset</span> | 
            {% for name, values in session['filters'].items() %}
                {% if values|length > 0 %}
                <span class="label label-default"><span style="cursor:pointer" onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown='remove_filter_category("{{name}}")'>{{name}}</span>: {% for index in range(values|length) %}<span style="cursor:pointer" onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown='remove_filter("{{name}}", {{index}})'>{% if values[index] is none or values[index] is string %}{{values[index]}}{% else %}{{values[index]|join(':')}}{% endif %}</span>{% if index < (values|length) - 1 %} | {% endif %}{% endfor %}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><input type="checkbox" id="master_checkbox"></th>
                        <th><span onmousedown='set_sort_filter("Alert Date")' style="cursor:pointer;white-space: nowrap;">Date{% if session['sort_filter'] == 'Alert Date' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
			<th><span onmousedown='set_sort_filter("Description")' style="cursor:pointer">Alert{% if session['sort_filter'] == 'Description' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}{%if ace_config['gui'].getboolean('show_total_alert_count') %} ({{total_alerts}}){% endif %}</span></th>
                        <th><span onmousedown='set_sort_filter("Owner")' style="cursor:pointer">Owner{% if session['sort_filter'] == 'Owner' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
                        {% if display_disposition %}
                            <th><span onmousedown='set_sort_filter("Disposition")' style="cursor:pointer">Disposition{% if session['sort_filter'] == 'Disposition' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
                        {% endif %}
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                    {# we can use this ID to modify an alert row #}
                    <tr id="alert_row_{{alert.uuid}}" >
                        <td>
                            <button onclick="load_alert_observables('{{alert.uuid}}'); toggle_chevron('alert_row_dropdown_{{alert.uuid}}')" type="button" class="btn btn-default btn-xs"><span id="alert_row_dropdown_{{alert.uuid}}" class="glyphicon glyphicon-chevron-down"></span></button>
                        </td>
                        <td>
                            <label><input type="checkbox" name="detail_{{alert.uuid}}" {% if alert.uuid in session['checked'] %}checked{% endif %}></input></label>
                        </td>
                        <td style="white-space: nowrap;" title="{{alert.insert_date}}">{{alert.display_insert_date}}</td>
                        <td>
                            <img src="{{url_for('static', filename='images/alert_icons/{}.png'.format(alert.icon))}}">
                            <a href="{{ url_for('analysis.index', direct=alert.uuid) }}">({{alert.detection_count}}) {{alert.description}}</a>
                            {% if alert.event_mapping %}
                                {% for em in alert.event_mapping %}
                                    <span class="label label-primary"><span class="glyphicon glyphicon-flash"></span> <b>{{em.event.name}}</b></span>
                                {% endfor %}
                            {% endif %}
                            {% if alert.uuid in profile_point_scores and profile_point_scores[alert.uuid]|length != 0 %}
                                {% for profile_point_name, score in profile_point_scores[alert.uuid] %}
                                    <span class="label label-secondary label-outlined" style="cursor:pointer">{{profile_point_name}} {{score}}%</span>
                                {% endfor %}
                            {% endif %}
                            {% if alert_tags[alert.uuid]|length != 0 %}
                                {% for tag in alert_tags[alert.uuid] %}
                                    <span class="label {{tag.css_class}}" style="cursor:pointer" onmousedown="add_filter('Tag', ['{{tag.name}}'])">{{tag.name}}</span>
                                {% endfor %}
                            {% endif %}
                            {% if alert_remediations[alert.uuid]|length != 0 %}
                                {% for remediation in alert_remediations[alert.uuid] %}
                                <span class="label {{remediation['css_class']}}" style="cursor:pointer" >{{remediation['result']}}</span>
                                {% endfor %}
                            {% endif %}
                            {% if comments[alert.uuid]|length != 0 %}
                                {% for comment in comments[alert.uuid] %}
                                    <br />
                                    <span style="font-size: x-small;">
                                        ({{ comment.user.gui_display }}) {{ comment.comment }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <span style="cursor:pointer" onmousedown='add_filter("Owner", ["{{alert.owner.gui_display}}"])'>{{alert.owner.gui_display}}</span>
                        </td>
                        {% if display_disposition %}
                        <td>
                            <span style="cursor:pointer" onmousedown='add_filter("Disposition", ["{{alert.disposition}}"])'>{{alert.disposition}}</span>
                        </td>
                        {% endif %}
                        <td style="white-space: nowrap;">
                            {{alert.status}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- end column -->
    </div> <!-- end row -->
</div> <!-- end container -->

<!-- display pagination options if not all alerts are shown -->
{% if total_alerts > session['page_size'] %}
<div style="white-space: nowrap;text-align: center;margin-bottom:20px;">
    <button onclick="set_page_offset(0)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-step-backward"></span></button>
    <button onclick="set_page_offset({{session['page_offset'] - session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-backward"></span></button>
    <button onclick="set_page_size({{session['page_size']}})">{{session['page_offset'] + 1}} to {% if session['page_offset'] + session['page_size'] > total_alerts %}{{total_alerts}}{% else %}{{session['page_offset'] + session['page_size']}}{% endif %} of {{total_alerts}}</button>
    <button onclick="set_page_offset({{session['page_offset'] + session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-forward"></span></button>
    <button onclick="set_page_offset({{(total_alerts // session['page_size']) * session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-step-forward"></span></button>
</div>
{% endif %}

<!-- filter dialog -->
<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filter_modal_label" aria-hidden="true">
    <form onsubmit="return apply_filter();">
    <input type="hidden" id="nav_move" name="nav_move" value=""/>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="filter_modal_label">Add Filter</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <select class="form-control" id="filter_name" onChange="on_filter_changed(this)">
                                {% for name in filters %}
                                    <option value="{{name}}">{{name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            {% for name in filters %}
                            <div class="col-xs-8" style="display:{% if loop.index == 1 %}block{% else %}none{% endif %}" name="filter_value_container" id="filter_value_container_{{name}}">
                                {% if filters[name].__class__.__name__ == 'TextFilter' %}
                                    <input type="text" class="form-control" name="filter_value_{{name}}" value=""/>
                                {% elif filters[name].__class__.__name__ == 'Filter' %}
                                    <input type="text" class="form-control" name="filter_value_{{name}}" value=""/>
                                {% elif filters[name].__class__.__name__ == 'SelectFilter' or filters[name].__class__.__name__ == 'MultiSelectFilter' %}
                                    <select class="form-control" name="filter_value_{{name}}" {% if filters[name].__class__.__name__ == 'MultiSelectFilter' %}size="20" multiple{% endif %}>
                                    {% for option in filters[name].options %}
                                        <option value="{{option}}" {% if loop.index == 1 %}SELECTED{% endif %}>{{option}}</option>
                                    {% endfor %}
                                    </select>
                                {% elif filters[name].__class__.__name__ == 'DateRangeFilter' %}
                                    <input type="text" class="form-control daterange" name="filter_value_{{name}}" value=""/>
                                {% elif filters[name].__class__.__name__ == 'TypeValueFilter' %}
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select class="form-control" name="filter_value_{{name}}">
                                            {% for option in filters[name].options %}
                                                <option value="{{option}}" {% if loop.index == 1 %}SELECTED{% endif %}>{{option}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" class="form-control" name="filter_value_{{name}}" value=""/>
                                        </div>
                                    </div>
                                {% elif filters[name].__class__.__name__ == 'AutoTextFilter' %}
                                    <input type="text" class="form-control" name="filter_value_{{name}}" oninput="toggle_options(this, 'filter_options_{{name}}')" autocomplete="off" value=""/>
                                    <datalist id="filter_options_{{name}}">
                                        {% for option in filters[name].options %}
                                            <option value="{{option}}">
                                        {% endfor %}
                                    </datalist>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                <button type="submit" class="btn btn-primary" onmousedown='apply_filter()'>Apply</button>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/manage_alerts.js') }}"></script>
{% endblock %}
