{% extends "base.html" %}
{% block control_panel %}
<div class="container-fluid">
    <!-- control panel -->
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#disposition_modal" {%if not ace_config['gui'].getboolean('dispositioning') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-thumbs-up"></span> Set Disposition</button>
            <button id="btn-add-comment" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#comment_modal" uuid=""><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
            <button id="btn-take-ownership" type="button" class="btn btn-default btn-sm" {%if not ace_config['gui'].getboolean('ownership') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-lock"></span> Take Ownership</button>
            <button id="btn-assign-ownership-dialog" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assign_ownership_modal" {%if not ace_config['gui'].getboolean('ownership') %}tabindex="-1" disabled{% endif %} ><span class="glyphicon glyphicon-user"></span> Assign Ownership</button>
            <button id="btn-show-add-tag" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#tag_modal" uuid=""><span class="glyphicon glyphicon-tags"></span> Add Tag(s)</button>
            <button type="button" class="btn btn-default btn-sm" onclick="show_remediation_targets(get_all_checked_alerts())"><span class="glyphicon glyphicon-remove"></span> Remediation</button>
            <button id="btn-add-to-event" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#event_modal" {%if not ace_config['gui'].getboolean('event_management') %}tabindex="-1" disabled{% endif %}><span class="glyphicon glyphicon-plus-sign"></span> Add To Event</button>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:5px;margin-bottom:7px;">
    <div class="row">
        <div class="col-md-12">
            Filters | 
            <span class="label label-special" style="cursor:pointer" data-toggle="modal" data-target="#filter_modal">Edit</span>
            <span class="label label-special" style="cursor:pointer" onmousedown='reset_filters()'>Reset</span> | 
            {% for name, values in session['filters'].items() %}
                {% if values|length > 0 %}
                <span class="label label-default"><span style="cursor:pointer" onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown='remove_filter_category("{{name}}")'>{{name}}</span>: {% for index in range(values|length) %}<span style="cursor:pointer" onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown='remove_filter("{{name}}", {{index}})'>{% if values[index] is none or values[index] is string %}{{values[index]}}{% else %}{{values[index]|join(':')}}{% endif %}</span>{% if index < (values|length) - 1 %} | {% endif %}{% endfor %}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><input type="checkbox" id="master_checkbox"></th>
                        <th><span onmousedown='set_sort_filter("Alert Date")' style="cursor:pointer;white-space: nowrap;">Date{% if session['sort_filter'] == 'Alert Date' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
			<th><span onmousedown='set_sort_filter("Description")' style="cursor:pointer">Alert{% if session['sort_filter'] == 'Description' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}{%if ace_config['gui'].getboolean('show_total_alert_count') %} ({{total_alerts}}){% endif %}</span></th>
                        <th><span onmousedown='set_sort_filter("Owner")' style="cursor:pointer">Owner{% if session['sort_filter'] == 'Owner' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
                        {% if display_disposition %}
                            <th><span onmousedown='set_sort_filter("Disposition")' style="cursor:pointer">Disposition{% if session['sort_filter'] == 'Disposition' %}{% if session['sort_filter_desc'] %}&uarr;{% else %}&darr;{% endif %}{% endif %}</span></th>
                        {% endif %}
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                    {# we can use this ID to modify an alert row #}
                    <tr id="alert_row_{{alert.uuid}}"
                        {% if alert.is_over_sla %} class="danger"
                        {% elif alert.is_approaching_sla %} class="warning"
                        {% endif %}>
                        <td>
                            <button onclick="load_alert_observables('{{alert.uuid}}'); toggle_chevron('alert_row_dropdown_{{alert.uuid}}')" type="button" class="btn btn-default btn-xs"><span id="alert_row_dropdown_{{alert.uuid}}" class="glyphicon glyphicon-chevron-down"></span></button>
                        </td>
                        <td>
                            <label><input type="checkbox" name="detail_{{alert.uuid}}" {% if alert.uuid in session['checked'] %}checked{% endif %}></input></label>
                        </td>
                        <td style="white-space: nowrap;" title="{{alert.insert_date}}" id="alert_date_{{ alert.uuid }}">{{alert.display_insert_date}}</td>
                        <td>
                            <img src="{{url_for('static', filename='images/alert_icons/{}.png'.format(alert.icon))}}">
                            <a href="{{ url_for('analysis.index', direct=alert.uuid) }}">({{alert.detection_count}}) {{alert.description}}</a>
                            {% if alert.event_mapping %}
                                {% for em in alert.event_mapping %}
                                    <span class="label label-primary"><span class="glyphicon glyphicon-flash"></span> <b>{{em.event.name}}</b></span>
                                {% endfor %}
                            {% endif %}
                            {% if alert.uuid in profile_point_scores and profile_point_scores[alert.uuid]|length != 0 %}
                                {% for profile_point_name, score in profile_point_scores[alert.uuid] %}
                                    <span class="label label-secondary label-outlined" style="cursor:pointer">{{profile_point_name}} {{score}}%</span>
                                {% endfor %}
                            {% endif %}
                            {% if alert_tags[alert.uuid]|length != 0 %}
                                {% for tag in alert_tags[alert.uuid] %}
                                    <span class="label {{tag.css_class}}" style="cursor:pointer" onmousedown="add_filter('Tag', ['{{tag.name}}'])">{{tag.name}}</span>
                                {% endfor %}
                            {% endif %}
                            {% if alert.remediation_status == 'success' %}
                                <span class="label label-success" style="cursor:pointer" >remediated</span>
                            {% elif alert.remediation_status == 'failed' %}
                                <span class="label label-danger" style="cursor:pointer" >remediation failed</span>
                            {% elif alert.remediation_status == 'processing' %}
                                <span class="label label-warning" style="cursor:pointer" >remediating</span>
                            {% endif %}
                            {% if comments[alert.uuid]|length != 0 %}
                                {% for comment in comments[alert.uuid] %}
                                    <br />
                                    <span style="font-size: x-small;">
                                        ({{ comment.user.gui_display }}) {{ comment.comment }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <span style="cursor:pointer" onmousedown='add_filter("Owner", ["{{alert.owner.gui_display}}"])'>{{alert.owner.gui_display}}</span>
                        </td>
                        {% if display_disposition %}
                        <td>
                            <span style="cursor:pointer" onmousedown='add_filter("Disposition", ["{{alert.disposition}}"])'>{{alert.disposition}}</span>
                        </td>
                        {% endif %}
                        <td id="alert_status_{{ alert.uuid }}" style="white-space: nowrap;">{{alert.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- end column -->
    </div> <!-- end row -->
</div> <!-- end container -->

<!-- display pagination options if not all alerts are shown -->
{% if total_alerts > session['page_size'] %}
<div style="white-space: nowrap;text-align: center;margin-bottom:20px;">
    <button onclick="set_page_offset(0)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-step-backward"></span></button>
    <button onclick="set_page_offset({{session['page_offset'] - session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-backward"></span></button>
    <button onclick="set_page_size({{session['page_size']}})">{{session['page_offset'] + 1}} to {% if session['page_offset'] + session['page_size'] > total_alerts %}{{total_alerts}}{% else %}{{session['page_offset'] + session['page_size']}}{% endif %} of {{total_alerts}}</button>
    <button onclick="set_page_offset({{session['page_offset'] + session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-forward"></span></button>
    <button onclick="set_page_offset({{(total_alerts // session['page_size']) * session['page_size']}})" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-step-forward"></span></button>
</div>
{% endif %}

<!-- filter dialog -->
<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filter_modal_label" aria-hidden="true">
    <form onsubmit="return apply_filter();">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="filter_modal_label">Edit Filters</h4>
            </div>
            <div class="modal-body" id="filter_modal_body">
                {% with filters=filters, session_filters=session['filters'] %}
                    {% include "analysis/alert_filter_input.html" %}
                {% endwith %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onmousedown='new_filter_option()'><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                <button type="button" class="btn btn-default" onmousedown='removeElements("filter_row_")'><span class="glyphicon glyphicon-remove"></span> Clear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/manage_alerts.js') }}"></script>
{% endblock %}
