<p><b>{{ analysis.details['day_interval'] }} Day Authentication History</b></p>

{% if 'raw_events' in analysis.details %}
<table class="table table-bordered table-condensed">
    <tr>
        <th>DateTime</th>
        <th>Application | Client App Used</th>
        <th>Status</th>
        <th>IP address</th>
        <th>Location</th>
        <th>Device Name | OS | Browser</th>
        <th>Conditional Access</th>
    </tr>
    {% for event in analysis.details['raw_events'] %} 
    <tr>
        <td>{{ event['createdDateTime'] }}</td>
        <td>{{ event['appDisplayName'] }} | {{ event['clientAppUsed'] }}</td>
	    <td>{% if event['status']['errorCode'] != 0 %}
                Failure
            {% else %}
                Success
            {% endif %}
            {% if event['riskDetail'] and event['riskDetail'] != "none" %} 
               <a href="#" data-toggle="modal" data-target="#summary_{{event['id']}}">(risk detail)</a>
            {% endif %}
        </td>
        <td>{{ event['ipAddress'] }}</td>
        <td>{{ event['location']['city'] }}, {{ event['location']['state'] }}, {{ event['location']['countryOrRegion'] }}</td>
        <td>
            {{event['deviceDetail']['displayName'] }} | {{ event['deviceDetail']['operatingSystem'] }} | {{ event['deviceDetail']['browser'] }}
        </td>
        <td>{{ event['conditionalAccessStatus'] }}</td>      
    </tr>
    {% endfor %}  
</table>
{% endif %}

<div class="panel panel-default" style="width: 80%">
<div class="panel-heading">
    <h3 class="panel-title">Raw Details <a role="button" data-toggle="collapse" data-target="#collapse_raw_details" aria-expanded="true" aria-controls="collapse_raw_upn_details">(hide/show)</a></h3>
    </div>
    <div class="well raw-log panel-body collapse" id="collapse_raw_details" style="word-break:break-all; -webkit-text-size-adjust: 110%">
        <pre>{{ analysis.details | pprint}}</pre>
    </div>
</div>

{% for e in analysis.details['raw_events'] %}
<div class="modal fade" id="summary_{{e['id']}}" tabindex="-1" role="dialog" aria-labelledby="summary_{{e['id']}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="summary_{{e['id']}}Label">Risk Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td class="col-md-3">Risk Detail</td>
                        <td class="col-md-9">{{e['riskDetail']}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Risk Event Types</td>
                        <td class="col-md-9">{{e['riskEventTypes']}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Risk Event Types V2</td>
                        <td class="col-md-9">{{e['riskEventTypes_V2']}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Risk Level Aggregate</td>
                        <td class="col-md-9">{{e['riskLevelAggregates']}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Risk Level During SignIn</td>
                        <td class="col-md-9">{{e['riskLevelDuringSignIn']}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Risk State</td>
                        <td class="col-md-9">{{e['riskState']}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">woah</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
