{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ACE - Change Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change Password</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<div class="col-md-4">
    <ul class="list-group">
        <li id="req-min-length" class="list-group-item">Minimum {{ min_length }} characters in length</li>
        <li id="req-lowercase" class="list-group-item">Must contain one lowercase letter</li>
        <li id="req-uppercase" class="list-group-item">Must contain one uppercase letter</li>
        <li id="req-number" class="list-group-item">Must contain one number</li>
        <li id="req-special" class="list-group-item">Must contain one of: {{ special }} or space</li>
        <li id="req-match" class="list-group-item">Passwords must match</li>
    </ul>
</div>

<script type="text/javascript">
// Escape regex for javascript
function EscapeRegExp(string) {
    return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
}
function ValidatePassword() {
    // Setup array of complexity rules and corresponding element IDs that will be changed based on complexity
    // requirements being met or not
    let minLength = {{  min_length }};
    // If you do not specify the regex this way in the template, then the ampersand gets changed and the
    // expression will match each of the characters '&', 'a', 'm', 'p', and ';'
    let specialEscaped = EscapeRegExp("{{ special|safe }}");
    let complexity = [
        {
            Pattern: "(?=^.{" + minLength + ",}$)",
            Target: "req-min-length"
        },
        {
            Pattern: "[a-z]",
            Target: "req-lowercase"
        },
        {
            Pattern: "[A-Z]",
            Target: "req-uppercase"
        },
        {
            Pattern: "[0-9]",
            Target: "req-number"
        },
        {
            Pattern: "[" + specialEscaped + "]",
            Target: "req-special"
        }
    ];

    let newPassword = $(this).val();

    // Change the complexity requirements list item to red or green depending on if it passes the complexity requirement
    for (let i = 0; i < complexity.length; i++) {
        let complexityListElement = $("#" + complexity[i].Target);
        complexityListElement.removeClass(new RegExp(complexity[i].Pattern).test(newPassword) ? "list-group-item-danger" : "list-group-item-success");
        complexityListElement.addClass(new RegExp(complexity[i].Pattern).test(newPassword) ? "list-group-item-success" : "list-group-item-danger");
    }
}

function ValidatePasswordMatch() {
    let newPassword = $("#new_password").val();
    let confirmPassword = $("#confirm").val();
    let complexityListElement = $("#req-match");

    // If the passwords match, make the corresponding list item green, otherwise, make it red
    complexityListElement.removeClass((newPassword === confirmPassword) ? "list-group-item-danger" : "list-group-item-success");
    complexityListElement.addClass((newPassword === confirmPassword) ? "list-group-item-success" : "list-group-item-danger");
}

$(document).ready(function() {
    let newPasswordField = $("#new_password");
    let confirmPasswordField = $("#confirm");
    newPasswordField.on('keyup', ValidatePassword);
    // We want the match requirement to update with changes to either password or confirm field
    newPasswordField.on('keyup', ValidatePasswordMatch);
    confirmPasswordField.on('keyup', ValidatePasswordMatch);
    $('#current-password').focus();
});
</script>

{% endblock %}