0 3 * * * /opt/ace/bin/backup-databases >> /opt/ace/data/logs/backup-databases-`date '+\%Y-\%m-\%d'`.log 2>&1
#*/10 * * * * /opt/ace/bin/update-yara-rules >> /opt/ace/data/logs/update-yara-rules-`date '+\%Y-\%m-\%d'`.log 2>&1
0 0 * * * /opt/ace/bin/cleanup >> /opt/ace/data/logs/cron.log 2>&1
#0 1 * * * /opt/ace/bin/update-snort-rules >> /opt/ace/data/logs/update-snort-rules-`date '+\%Y-\%m-\%d'`.log 2>&1
#0 1 * * * /opt/ace/bin/update-asn-data >> /opt/ace/data/logs/update-asn-data-`date '+\%Y-\%m-\%d'`.log 2>&1
#0 1 * * * /opt/ace/bin/report-scan-failures >> /opt/ace/data/logs/report-scan-failures-`date '+\%Y-\%m-\%d'`.log 2>&1
#0 * * * * /opt/ace/bin/update-ssdeep >> /opt/ace/data/logs/update-ssdeep-`date '+\%Y-\%m-\%d'`.log 2>&1
*/2 * * * * /opt/ace/bin/update-crits-cache >> /opt/ace/data/logs/update-crits-cache-`date '+\%Y-\%m-\%d'`.log 2>&1
0 0 * * * rm -rf /opt/ace/data/analysis_cache 2>&1
