ACE Configuration README
========================

ACE configuration settings are stored in multiple ini-format files in the
SAQ_HOME/etc directory. The files are loaded in a certian order (detailed
below). Each time another configuration file is loaded, any settings it defines
overrides the settings defined in previous files.

Load Order (Normal)
===================

1) etc/saq.default.ini
2) etc/saq.integrations.ini
3) integration files as configured in etc/saq.integrations.ini
4) configuration files specified on the command line
5) configuration files specified in the SAQ_CONFIG_PATHS environment variable
6) etc/saq.ini

Load Order (Unit Testing)
=========================
1) etc/saq.default.ini
4) etc/saq.unittest.default.ini
5) etc/saq.unittest.ini
