{% if _observable.exists %}
<script type="text/javascript">
$('#action_{{action.name}}_{{unique_reference}}').on('click', function() {
    // we need to give the modal some data, we can pass it here
    sendToDatastore.url = "{{ url_for('analysis.observable_action') }}"
    sendToDatastore.formData = {
              "alert_uuid": "{{_observable.root.uuid}}",
              "observable_uuid": "{{_observable.id}}",
              "action_id": "{{action.name}}",
          };
    sendToDatastore.filename = "{{ _observable.value }}";

    $('#send-to-modal-label').text("Send " + sendToDatastore.filename + " to...");

    $('#send-to-modal').modal('show'); 
});
</script>
{% endif %}