# the services will be started in the following order
# (and then stopped in reverse order)
# comment out the services you don't want to use

#ecs
network_semaphore
yara
engine
#remediation
#ews_collector
#fireeye_collector
#hunter
#qradar_offense_collector
#falcon_collector
#exabeam_collector
