
table.dataframe thead {background-color: #eceff1;}
table.dataframe {border: none;}

label.form-check-label { margin-right: 10px; font-weight: 100;}

.btn-link.custom-submit-btn-link{
  outline: 5px dashed -webkit-focus-ring-color;
  outline-style: auto;
  outline-offset: -2px;
  outline-color: #337ab7;
  outline-width: 2px;
}
.btn-link.custum-submit-btn-link:hover,
.btn-link.custum-submit-btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.custum-submit-btn {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}
.custom-submit-form-group {
    margin-bottom: 0px;
}
.panel.custom-panel {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
