{% extends "core.html" %}

{% block head %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<!-- jqueryUI CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

<!-- daterange picker -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timepicker.css') }}" />

<!-- visualization library -->
<!--<link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet" type="text/css" />-->

<!-- jsPanel library -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.jspanel.css') }}" />

<!-- jquery and bootstrap -->
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- json2 lib (see https://github.com/douglascrockford/JSON-js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/json2.js') }}"></script>

<!-- jquery ui -->
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

<!-- misc libraries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>

<!-- date range picker -->
<script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/timepicker.js') }}"></script>

<!-- vis.js -->
<!--<script src="{{ url_for('static', filename='js/vis.js') }}"></script>-->

<!-- jspanel lib -->
<script src="{{ url_for('static', filename='js/jquery.jspanel.js') }}"></script>

<!-- global ACE javascript code -->
<script src="{{ url_for('static', filename='js/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/remediation.js') }}"></script>

<!-- core css -->
<!-- this needs to come last so we can do our CSS overrides -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/saq.css') }}" type="text/css">

{% block scripts %}
{% if config.GOOGLE_ANALYTICS %}
    {% include "gtag.html" ignore missing %}
{% endif %}

{% endblock %}

{% endblock %}

{% block body %}
{# navigation bar #}
<div id="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">&spades; ACE - {{config.INSTANCE_NAME}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('analysis.file') }}">Analyze</a></li>
                    <li><a href="{{ url_for('analysis.manage') }}">Alerts</a></li>
                    {% if config.GUI_DISPLAY_EVENTS %}
                        <li><a href="{{ url_for('events.manage') }}">Events</a></li>
                    {% endif %}
                    {% if config.GUI_DISPLAY_METRICS  %}
                        <li><a href="{{ url_for('analysis.metrics') }}">Metrics</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://ace-ecosystem.github.io/ACE/"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                {% if current_user.is_authenticated %}
                    {% if config.AUTHENTICATION_ON %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <span></span>
                            {{  current_user.display_name }} ({{ current_user.username }}) <strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div id="control_panel" class="container-fluid">
{% block control_panel %}
{% endblock %}
</div>

<div id="content_area">
{% block content %}
    <div class="container-fluid">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div style="margin-top: 10px">
    {% block page_content %}{% endblock %}
    </div>
    </div>

    {% block edit_event_modal %}
        <div class="modal fade" id="edit_event_modal" tabindex="-1" role="dialog" aria-labelledby="edit_event_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <form id="edit-event-form" class="form-horizontal" role="form" method="POST" action={{url_for('events.edit_event')}}>
                    <div class="modal-content">
                        <div class="modal-header" id="edit_event_insert">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Edit Event</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                            <button type="submit" class="btn btn-primary" id="btn-edit-event">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block event_modal %}
    <div class="modal fade" id="event_modal" tabindex="-1" role="dialog" aria-labelledby="event_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <form id="event-form" class="form-horizontal" role="form" method="POST" action={{url_for('analysis.add_to_event')}}>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="event_modal_label">Add To Event</h4>
                    </div>
                    <div class="modal-body" id="event-primary-container">
                        {% for event in open_events %}
                        <div class="radio" id="event_container_div_{{event.id}}"><label><input type="radio" name="event" value="{{event.id}}" id="option_{{event.id}}" onclick="toggleNewEventDialog()"><span id="event_match_{{event.id}}"></span>{{event.creation_date}} - {{event.type}} - {{event.vector}} - {{event.name}}
                            {% for tag in event.sorted_tags %}
                            {% if tag.display %}<span class="label {{tag.style}}" style="cursor:pointer">{{tag.name}}</span>{% endif %}
                            {% endfor %}
                        </label></div>
                        {% endfor %}
                        <div class="radio">
                            <label><input type="radio" name="event" value="NEW" id="option_NEW" onclick="toggleNewEventDialog();autofill_event_name()"> New Event </label>
                            <div id="new_event_dialog" style="display:none;">
                                <table style="width:100%;table-layout:auto;">
                                  <tr><th>Name</th>
                                      <td><textarea class="form-control" type="text" id="event_name" name="event_name" value="" rows="2" style="height: 80px;resize: vertical"></textarea></td>
                                      <td style="text-align: center"><button title="Reset Event Name" onclick="autofill_event_name()" type="button" class="glyphicon glyphicon-refresh"></button></td>
                                  </tr>
                                  <tr><th>Comment</th>
                                      <td><textarea class="form-control" type="text" id="event_comment" name="event_comment" style="resize: vertical"></textarea>
                                      </td>
                                  </tr>
                                </table>
                                <select class="form-control" name="event_disposition" id="event_disposition" style="display:none;">
                                        <option value="FALSE_POSITIVE">FALSE_POSITIVE</option>
                                        <option value="IGNORE">IGNORE</option>
                                        <option value="UNKNOWN">UNKOWN</option>
                                        <option value="REVIEWED">REVIEWED</option>
                                        <option value="GRAYWARE">GRAYWARE</option>
                                        <option value="POLICY_VIOLATION">POLICY_VIOLATION</option>
                                        <option value="RECONNAISSANCE">RECONNAISSANCE</option>
                                        <option value="WEAPONIZATION">WEAPONIZATION</option>
                                        <option value="DELIVERY" SELECTED>DELIVERY</option>
                                        <option value="EXPLOITATION">EXPLOITATION</option>
                                        <option value="INSTALLATION">INSTALLATION</option>
                                        <option value="COMMAND_AND_CONTROL">COMMAND_AND_CONTROL</option>
                                        <option value="EXFIL">EXFIL</option>
                                        <option value="DAMAGE">DAMAGE</option>
                                        <option value="INSIDER_DATA_CONTROL">INSIDER_DATA_CONTROL</option>
                                        <option value="INSIDER_DATA_EXFIL">INSIDER_DATA_EXFIL</option>
                                </select>
                                <input class="form-control" style="display:none" type="text" id="event_time" name="event_time" placeholder="None"/>
                                <input class="form-control" style="display:none" type="text" id="alert_time" name="alert_time" placeholder="None"/>
                                <input class="form-control" style="display:none" type="text" id="ownership_time" name="ownership_time" placeholder="None"/>
                                <input class="form-control" style="display:none" type="text" id="disposition_time" name="disposition_time" placeholder="None"/>
                                <input class="form-control" style="display:none" type="text" id="contain_time" name="contain_time" placeholder="None"/>
                                <input class="form-control" style="display:none" type="text" id="remediation_time" name="remediation_time" placeholder="None"/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                        <button type="submit" class="btn btn-primary" id="btn-add-to-event">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock event_modal %}

    {% block remove_alerts_form %}
        <form id="remove-alerts-form" action="{{url_for('events.remove_alerts')}}" method="POST"></form>
    {% endblock %}

    {% block disposition_modal %}
    <div class="modal fade" id="disposition_modal" tabindex="-1" role="dialog" aria-labelledby="disposition_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <form id="disposition-form" class="form-horizontal" role="form" method="POST" action={{url_for('analysis.set_disposition')}}>
            {% block disposition_form %}{% endblock disposition_form %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="disposition_modal_label">Set Disposition</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio"><label><input type="radio" name="disposition" onclick="hideSaveToEventButton();" value="FALSE_POSITIVE" id="option_FALSE_POSITIVE" autocomplete="off"> FALSE_POSITIVE </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="IGNORE" id="option_IGNORE" autocomplete="off"> IGNORE </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="UNKNOWN" id="option_UNKNOWN" autocomplete="off"> UNKNOWN </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="REVIEWED" id="option_REVIEWED" autocomplete="off"> REVIEWED </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="GRAYWARE" id="option_GRAYWARE" autocomplete="off"> GRAYWARE </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="POLICY_VIOLATION" id="option_POLICY_VIOLATION" autocomplete="off"> POLICY_VIOLATION </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="RECONNAISSANCE" id="option_RECONNAISSANCE" autocomplete="off"> RECONNAISSANCE </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="WEAPONIZATION" id="option_WEAPONIZATION" autocomplete="off"> WEAPONIZATION </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="DELIVERY" id="option_DELIVERY" autocomplete="off"> DELIVERY </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="EXPLOITATION" id="option_EXPLOITATION" autocomplete="off"> EXPLOITATION </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="INSTALLATION" id="option_INSTALLATION" autocomplete="off"> INSTALLATION </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="COMMAND_AND_CONTROL" id="option_COMMAND_AND_CONTROL" autocomplete="off"> COMMAND_AND_CONTROL </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="EXFIL" id="option_EXFIL" autocomplete="off"> EXFIL </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="DAMAGE" id="option_DAMAGE" autocomplete="off"> DAMAGE </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="INSIDER_DATA_CONTROL" id="option_INSIDER_DATA_CONTROL" autocomplete="off"> INSIDER_DATA_CONTROL </label></div>
                            <div class="radio"><label><input type="radio" name="disposition" onclick="showSaveToEventButton();" value="INSIDER_DATA_EXFIL" id="option_INSIDER_DATA_EXFIL" autocomplete="off"> INSIDER_DATA_EXFIL </label></div>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="4" name="comment"></textarea>
                            <a href="/ace/docs/analyst-orientation.html#alert-dispositioning" target="_blank">Click here for help with dispositions.</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                    <button type="submit" class="btn btn-primary" id="btn-disposition">Save</button>
                    <button type="button" class="btn btn-primary" id="btn-save-to-event" style="display:none;" data-toggle="modal" data-dismiss="modal" data-target="#event_modal">Save To Event</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    {% endblock disposition_modal %}

    {% block comment_modal %}
    <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="comment_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <form id="comment-form" class="form-horizontal" role="form" method="POST" action={{url_for('analysis.add_comment')}}>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="comment_modal_label">Add Comment</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Doh</button>
                    <button type="button" class="btn btn-primary" id="btn-submit-comment">Sweet</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    {% endblock comment_modal %}

    {% block tag_modal %}
    <div class="modal fade" id="tag_modal" tabindex="-1" role="dialog" aria-labelledby="tag_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <form id="tag-form" class="form-horizontal" role="form" method="POST" action={{url_for('analysis.add_tag')}}>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="tag_modal_label">Add Tag(s)</h4>
                </div>
                <div class="modal-body">
                    Enter one or more tags separated by spaces.
                    <input class="form-control" type="text" id="tag" name="tag"></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nah</button>
                    <button type="button" class="btn btn-primary" id="btn-submit-tags">Alright</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    {% endblock tag_modal %}
</div>

{% endblock content %}


<div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="search_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <form class="form-horizontal" role="form" method="POST" action={{url_for('analysis.index')}}>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="search_modal_label">Search ACE</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- assign ownership dialog -->
<div class="modal fade" id="assign_ownership_modal" tabindex="-1" role="dialog" aria-labelledby="assign_ownership_modal_label" aria-hidden="true">
    <form id="assign-ownership-form" method="POST" action="{{url_for('analysis.assign_ownership')}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="assign_ownership_modal_label">Assign Ownership</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <select name="selected_user_id" class="form-control">
                            {% for user in all_users %}
			        {% if user.enabled %}
                                    <option value="{{user.id}}">{{user.gui_display}}</option>
				{% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                <button type="submit" class="btn btn-primary" id="btn-assign-ownership">Assign</button>
            </div>
        </div>
    </div>
    </form>
</div>

<!-- remediation selection dialog -->
<div class="modal fade" id="remediation-selection-modal" tabindex="-1" role="dialog" aria-labelledby="remediation-selection-label" aria-hidden="true">
    <form onsubmit="return remove_remediation_targets();">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="word-break: break-word">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Remediation Selection</h4>
            </div>
            <div class="modal-body" id="remediation-selection-body" style="word-wrap: break-word">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="restore_remediation_targets()">Restore</button>
                <button type="submit" class="btn btn-primary">Remove</button>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal fade" id="remediation-modal" tabindex="-1" role="dialog" aria-labelledby="remediation-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="word-break: break-word">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Remediation</h4>
            </div>
            <div class="modal-body" id="remediation-body" style="word-wrap: break-word">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- "Send to" modal -->
<div class="modal fade" id="send-to-modal" tabindex="-1" role="dialog" aria-labelledby="send_to_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="send-to-modal-label">Send To</h4>
            </div>
            <div class="modal-body" id="send-to-body">
                <!-- Host selections -->
                <p>Please select a host to send this file to.</p>
                
                <select name="selected-host" id="selected-host" class="form-control">
                    {% for host in send_to_hosts %}
                    <option value="{{ host.hostname }}">host: {{ host.hostname }} path: {{ host.remote_path }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-send-to-send">Send</button>
            </div>
        </div>
    </div>
</div>
<!-- datastore to pass data to the modal -->
<script type="text/javascript">
var sendToDatastore = sendToDatastore ? sendToDatastore : {};
</script>

{% endblock body %}
